node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Flyway configuration
config/flyway.conf

# Docker
docker-compose.override.yml
docker-compose.debug.yml

# JetBrains IDEs
.idea/
*.iml

.DS_Store
Thumbs.db

*.bak
*.swp
*.swo
.vscode/
